{% set vRPaymentData = page.extensions.vRPaymentData %}
{% if vRPaymentData and vRPaymentData.integration %}
	{% if vRPaymentData.integration in ['iframe'] %}
		{% for transactionPossiblePaymentMethod in vRPaymentData.transactionPossiblePaymentMethods %}
			<div class="card checkout-card">
				<div class="card-body">
					<div class="card-title">
						{{ transactionPossiblePaymentMethod.getName() }}
					</div>
					<div id="vrpayment-payment-panel"
						class="vrpayment-payment-panel"
						data-vrpayment-checkout-plugin="true"
						data-id="{{ transactionPossiblePaymentMethod.getId() }}">
						<div id="vrpaymentLoader"><div></div></div>
						<input value="false" type="hidden" name="vrpayment_payment_handler_validation_status"
							form="confirmOrderForm">
						<div id="vrpayment-payment-iframe"
							class="vrpayment-payment-iframe"></div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endif %}