<div id="vrpayment-payment-panel"
     class="vrpayment-payment-panel"
     data-vrpayment-checkout-plugin="true"
     data-id="{{ paymentMethodConfigurationId }}">
    <div id="vrpaymentLoader"><div></div></div>
    <input value="false" type="hidden" name="vrpayment_payment_handler_validation_status"
           form="confirmOrderForm">
    <div id="vrpayment-payment-iframe"
         class="vrpayment-payment-iframe"></div>
</div>
